@model ProductCreate
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Product</h4>
                    </div>
                    @using (Html.BeginForm("CreateProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="card-body">
                            <div class="form-validation">
                                    <div class="row">
                                        <div class="col-xl-10">
                                            <div class="form-group row">
                                                @Html.LabelFor(m => m.pr.ProductName, new { @class = "col-md-2 control-label" })
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(m => m.pr.ProductName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                @Html.LabelFor(m => m.pr.ProductPrice, new { @class = "col-md-2 control-label" })
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(m => m.pr.ProductPrice, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                @Html.LabelFor(m => m.pr.ProductDescription, new { @class = "col-md-2 control-label" })
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(m => m.pr.ProductDescription, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                @Html.LabelFor(m => m.pr.ProductStatus, new { @class = "col-md-2 control-label" })
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(m => m.pr.ProductStatus, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                @Html.LabelFor(m => m.pr.CatelogyId, new { @class = "col-md-2 control-label" })
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(m => m.pr.CatelogyId, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                @Html.LabelFor(m => m.pr.ProductDiscount, new { @class = "col-md-2 control-label" })
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(m => m.pr.ProductDiscount, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                @Html.LabelFor(m => m.pr.ProductUrlvideo, new { @class = "col-md-2 control-label" })
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(m => m.pr.ProductUrlvideo, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                @Html.LabelFor(m => m.pr.ProductUnit, new { @class = "col-md-2 control-label" })
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(m => m.pr.ProductUnit, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                @Html.LabelFor(m => m.pr.RatingAvg, new { @class = "col-md-2 control-label" })
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(m => m.pr.RatingAvg, new { @class = "form-control" })
                                                </div>
                                                    <div class="form-group row">
                                                        <input type="file" name="file" />
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-lg-8 ml-auto">
                                                            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                    </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>




